In [1]:
# 1.) How to convert the string "1000" to an integer.

"""To convert string to integer we use the python built in function int(). i.e we will the pass the string inside \
the function as parameter.The process is known as "type casting". For example"""

a = "1000" 
# Now to the convert the string above to integer, we will use int function
b = int(a)
print(b)

1000

In [2]:
# 2.) How do i convert a floating point number 3.764 to an integer
# To convert floating point number to integer, we will use the python built in function int()

print(int(3.764))

3

In [11]:
# 3.) in python program, I have my business expenses represented by a floating point number: 99.45. 
# I want to express the value as a string. However i also want to add
#  a dollar sogn in front of the amount\
# a space and word "dollars" at the end.

# to express a floating point number as a string we will use the string funtion.
print(str(99.45))
# to add a dollar sign in front string we will use string formatting.
x = 99.45
y = str(99.45)
print("${}".format(y))
# Now to add a space and a word dollars at the we will use string concatination
z = ("${}".format(y))
print(z + " dollars.")
# or
print("${}".format(y) + " dollars.")

99.45
$99.45
$99.45 dollars.
$99.45 dollars.

In [12]:
# 4.) What does the type function do?
"""The type() function either returns the type of the objects or returns a new type object based on the arguments passed. for example"""
type(4)
# The function  is telling us that the arguments passed in an integer.

int

In [15]:
# 5.) What is a Boolean? What are the two possible values?
"""Boolean is a built in data types in python. It is used to represent the truth value of an exppression. For example"""
1<2 # the result obtain for this will true since 1 is less than 2
# The two possible values are True or False.

False

In [21]:
# 6.) What is the technical name for % operator? What does it do?
# The name is Modulus
# It is the remainder obtain by divding two operands, It is majorly use if you're sorting a particular set of numbers among others, maybe like odd or even
# for example
x = [1,2,3,4,5]
for i in x :
    if i%2==0:
        print("Even")
    else:
        print("Odd")

Odd
Even
Odd
Even
Odd

In [1]:
# 7.) Declare a fancy_name variable and assign it a string with your name. then, invoke the print function and pass in fancy_name/
#between the parenthensis.i.e print(fancy_name)

fancy_name = "lawal Abideen Abayomi"
print(fancy_name)

lawal Abideen Abayomi

In [10]:
# 8.) Design a python fuction that converts time in hours to seconds. The program should convert hours to seconds and print out \
# a message with the value

def convert(hour):
    """Conversion of hour ti seconds"""
    #since 1hr = 3600secs
    ans = hour * 3600
    print("{}hr is equal to {}secs".format(hour, ans))
    
convert(1)

def converts(hours):
    """General cases putting negative numbers into consideraton since we can a negative time"""
    if hours < 0:
        print("Time can not be negative")
    else:
        ans = hours * 3600
        print("{}hr is equal to {}secs".format(hours, ans))
converts(-5)

1hr is equal to 3600secs
Time can not be negative

In [16]:
# 9.)
def easy_money():
    a = 100
    return(a)
easy_money()

# best food function
def best_food():
    b = "Sushi"
    return(b)
best_food()

# convert_to_currency

def convert_to_currency(x):
    y = str(x)
    return("${}".format(y))
convert_to_currency(10)

$10

In [26]:
# 10.)String_adder function

def string_adder(a = "",b = ""):
    return (a + " " + b)
string_adder("Hello", "World")
string_adder("Emilio", "Estevez")
string_adder()
string_adder("Tiger")

'Tiger '

In [28]:
# 11.) long_word function
def long_word(a):
    if len(a) >= 7:
        return True
    else:
        return False
    
long_word("python")
long_word("Magnificient")

True

In [33]:
# 12.) same_first_and_last_function
def same_first_and_last_letter(letter):
    if letter[0] == letter[-1]:
        return True
    else:
        return False
    
same_first_and_last_letter("runner")
same_first_and_last_letter("Runner")
same_first_and_last_letter("clock")
same_first_and_last_letter("q")

True

In [36]:
# 13.) first_three_characters function
def first_three_characters(a):
    ans = a[:3]
    return(ans)

first_three_characters("dynasty")
first_three_characters("empire")

'emp'